.sidebar {
    width: 240px;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.sidebar img {
    margin-bottom: 24px;
}

.userSection {
    margin-top: auto;
    padding: 16px;
    background: #181818;
    border-radius: 8px;
    border: 1px solid #282828;
}

.userSection p {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
}

.userSection span {
    font-size: 12px;
    color: #b3b3b3;
}

.userSection button {
    margin-top: 12px;
}
.SideNavbar {
  background-color: #000;
  height: 100vh;
  overflow-y: auto;        /* 🔥 enables vertical scroll */
  overflow-x: hidden;
  position: relative;
  scrollbar-width: thin;   /* Firefox */
}
.SideNavbar::-webkit-scrollbar {
  width: 6px;
}

.SideNavbar::-webkit-scrollbar-thumb {
  background: #2a2a2a;
  border-radius: 10px;
}

.SideNavbar::-webkit-scrollbar-thumb:hover {
  background: #444;
}