.PlaylistCardSBox {
    position: relative;
    overflow: hidden;
}

.PlaylistCardS {
    padding: 16px;
    background: #181818;
    border-radius: 8px;
    transition: background-color .3s ease;
}

.PlaylistCardS:hover {
    background: #282828;
}

.ImgBox {
    position: relative;
    box-shadow: 0 -4px 12px rgb(0 0 0 / 50%);
}

.ImgBox img {
    width: 100%;
    border-radius: 4px;
}

.IconBox {
    position: absolute;
    right: 24px;
    bottom: 110px;
    opacity: 0;
    transition: all .3s ease;
    z-index: 10;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    background-color: #1db954;
    display: flex;
    align-items: center;
    justify-content: center;
}

.PlaylistCardSBox:hover .IconBox {
    opacity: 1;
    transform: translateY(-5px);
}

.IconBox div {
    background-color: #1db954;
    height: 48px;
    width: 48px;
}

.IconBox button {
    height: 48px;
    width: 48px;
}

.PlaylistCardSBox:hover .IconBox {
    opacity: 1;
    transform: translateY(-5px);
}

.Title {
    margin-top: 16px;
    min-height: 62px;
}

.Title p {
    margin: 0;
    color: white;
}

.Title p:last-child {
    color: #b3b3b3;
    margin-top: 4px;
}