.page {
  color: white;
  background: #121212;
  min-height: 100vh;
}

.loading {
  padding: 60px;
  color: white;
}

.hero {
  height: 320px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.overlay {
  height: 100%;
  padding: 48px;
  background: linear-gradient(
    rgba(0,0,0,0.2),
    rgba(18,18,18,1)
  );
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.name {
  font-size: 72px;
  font-weight: 800;
  margin: 0;
}

.genre {
  margin-top: 8px;
  color: #b3b3b3;
}

.followBtn {
  margin-top: 20px;
  width: fit-content;
  padding: 8px 24px;
  border-radius: 20px;
  border: none;
  background: #1db954;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.followBtn:hover {
  background: #1ed760;
}

.content {
  padding: 32px 48px;
}

section {
  margin-bottom: 40px;
}

.list {
  list-style: none;
  padding: 0;
}

.list li {
  padding: 10px 0;
  border-bottom: 1px solid #2a2a2a;
  color: #eaeaea;
}
.navLinks {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.linkBtn {
  color: #1db954;
  text-decoration: none;
  font-weight: 500;
}