.LibPage{
    background-color: #121212;
    color: #fff;
    overflow-y: auto;
    height: 100%;
}

.Library{
    padding: 110px 32px 32px 32px;  /* 70 nav + spacing */
    margin-bottom: 95px;
}

.Library h2 {
    margin: 0;
}

.Grid{
    margin-top: 24px;
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(auto-fill,minmax(var(--cards-column-width),1fr));
}

@media screen and (max-width: 640px) {
    .Library{
        padding: 100px 16px 32px 16px;
        margin-bottom: 180px;
    }

    .Grid{
        gap: 16px;
        grid-template-columns: 1fr 1fr;
    }
}