.footer{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    width: 100%;
    z-index: 9;
}
.nowplayingbar{
    background-color: var(--card-background);
    border-top: 1px solid var(--sidenav-active);
    padding: 17px 16px;
    color: #fff;
    text-align: center;
}
.footerContent{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footerContent p{
    margin: 0;
    font-size: 12px;
    color: rgb(179, 179, 179);
}
@media screen and (max-width: 640px) {
    .footer{
        bottom: 45px;
    }
    .nowplayingbar{
        padding: 8px 16px;
    }
}